/* Mobile */
@media (max-width: 768px) {
    #logo-container {
        display:none;
    }

    .navbar-content {
        margin-bottom: 15rem; /* Modify this when nav needs more changes */
    }
    
    .navbar-brand {
        content:"Apache County GIS"
    }

    .navbar-brand img {
        display:none !important;
    }

    .footer {
        display:none !important;
    }
}

/* Desktop */
@media (min-width: 769px) {
    .navbar-content {
        display: flex;
        width: 100%;
    }

    .search-form {
        margin-left: auto;
    }

    .navbar-brand span {
        display:none !important;
    }
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}

#latlon-display {
    margin-left:auto;
}
#parcel-num-display {
    margin-left:auto;
}

#logo-container {
    position: absolute;
    z-index: 1000;
    right: 0%;
    top: 3rem;
    padding: 1em;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.modal-footer button[disabled] {
    cursor: not-allowed;
}